{{!-- Users Dashboard --}}

{{!-- User's posts --}}
{{#if posts.length}}
<section class="container-fluid m-3">
    <h2 class="dashboard-header">These are all your posts!</h2>

    {{!-- Posts --}}
    <ol class="post-list m-3 lh-base">
    {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link btn btn-outline-warning text-dark fw-semibold" id="editPostBtn">Edit Post</a>
        </li>
    {{/each}}
    </ol>
</section>
{{/if}}

<section class="container-fluid m-3" id="createPost">
    {{!-- Create Post Btn --}}
    <h2>Create a Post</h2>

    {{!-- New post form --}}
    <form class="new-post-form">
        <div class="">
            <label for="post-title" class="form-label">Title</label>
            <input type="text" id="post-title" name="post-title" class="form-control"/>
        </div>
        <div>
            <label for="post-content" class="form-label">Content</label>
            <textarea name="post-content" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary" id="createBtn">Post</button>
    </form>
</section>

<script src="/js/add_post.js"></script>