{{!-- Users Dashboard --}}
{{#if posts.length}}
<section>
    {{!-- Top --}}
    <h2 class="dashboard-header">These are all your posts!</h2>

    {{!-- Posts --}}
    <ol>
    {{#each posts as |post|}}
        <li>
            <article class="post">
                
            </article>
        </li>
    </ol>
</section>
{{/if}}