{{!-- Login --}}
<form class="login-form">
    <div>
        <h2>Login</h2>
        {{!-- Email --}}
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />

        {{!-- Password --}}
        <label for="password-login">Password:</label>
        <input type="text" id="password-login" />
    </div>
</form>


{{!-- Register --}}
<form class="register-form">
    <h2>Don't have an account? Register today!</h2>

    {{!-- Username --}}
    <label for="username">Username:</label>
    <input type="text" id="username-register" />

    {{!-- Email --}}
    <label for="email-register">Email:</label>
    <input type="text" id="email-register" />

    {{!-- Password --}}
    <label for="password-register">Password:</label>
    <input type="text" id="password-register" />
    
</form>

{{!-- Script Tag --}}
<script src="/public/js/login.js"></script>