{{!-- Login --}}
<form class="login-form">
    <div class="mb-3">
        <h2>Login</h2>
        {{!-- Email --}}
        <label for="email-login" class="form-label">Email:</label>
        <input type="email" id="email-login" class="form-control"/>
    </div>

        {{!-- Password --}}
    <div>
        <label for="password-login" class="form-label">Password:</label>
        <input type="password" id="password-login" class="form-control" />
    </div>

        {{!-- Login Btn --}}
    <div>
        <button type="submit" class="btn btn-secondary" id="loginBtn">Login</button>
    </div>
</form>


{{!-- Register --}}
<form class="register-form">
    <h2>Don't have an account? Register today!</h2>

    {{!-- Username --}}
    <div>
        <label for="username" class="form-label">Username:</label>
        <input type="text" id="username-register" class="form-control" />
    </div>
    {{!-- Email --}}
    <div>
        <label for="email-register" class="form-label">Email:</label>
        <input type="email" id="email-register" class="form-control"/>
    </div>
    {{!-- Password --}}
    <div>
        <label for="password-register" class="form-label">Password:</label>
        <input type="password" id="password-register" class="form-control"/>
    </div>
    {{!-- Register btn --}}
    <div>
        <button type="submit" class="btn btn-secondary " id="registerBtn">Register</button>
    </div>
    
</form>

{{!-- Script Tag --}}
<script src="/js/login.js"></script>