<a href="/dashboard" class="go-back btn btn-secondary m-3"> &larr; Back to dashboard</a>

{{> post-info post}}

{{!-- Displays form and comments only if logged in --}}
{{#if logged_in}}
<form class="comment-form">
    <div class="m-4">
        <textarea name="comment-body" class="form-control"></textarea>
    </div>

    <div>
        <button type="submit" class="m-4 btn btn-secondary">Add Comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}